[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sixinli
[access "refs/for/refs/*"]
	read = group user/sixinli
	push = group user/sixinli
	label-Code-Review = -2..+2 group user/sixinli
	label-Verified = -1..+1 group user/sixinli
	rebase = group user/sixinli
	removeReviewer = group user/sixinli
	submit = group user/sixinli
[access "refs/heads/*"]
	read = group user/sixinli
	create = group user/sixinli
	push = +force group user/sixinli
	pushMerge = group user/sixinli
[access "refs/tags/*"]
	push = +force group user/sixinli
	pushTag = group user/sixinli
	pushSignedTag = group user/sixinli
